@tailwind base;
@tailwind components;
@tailwind utilities;



.imagen-redondeada {
    border-top-left-radius: 50px;
    /* Redondeado normal en el lado izquierdo */
    border-bottom-left-radius: 50px;
    /* Redondeado normal en el lado izquierdo */
    border-top-right-radius: 100px;
    /* Redondeado considerable en el lado derecho */
    border-bottom-right-radius: 100px;
    /* Redondeado considerable en el lado derecho */
}

.custom-button {
    border: 2px solid transparent;
    /* Asegúrate de que el botón tenga un borde inicialmente */
    transition: border-color 0.3s ease;
    /* Añade una transición suave para el cambio de color */
}

.custom-button:hover {
    border-color: #7326E2;
    /* Cambia el color del borde al color deseado en hover */
}

.faq {
    margin-bottom: 15px;

}

.question {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.faq.open .answer {
    display: block;
}




    /* PAGINA PSICOLOGOS */

    .bg-img1 {
        background-image: url("./imagenes/consultorio.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
        background-blend-mode: multiply; /* Mezcla el color de fondo con la imagen de fondo */
    }

    .filtros {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .filtro {
        position: relative;
    }
    
    .btn-filtro {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown a:hover {
        background-color: #f1f1f1;
    }